
@media screen and (max-width: 768px) {
    nav {
        display: inline-block;
        position: relative;
        z-index: 2;

        .nav-button {
            visibility: visible;
            
            &:hover {
                color: #eee;
            }
        }

        .navbar {
            position: relative;
            top: -40px;

            .navbar-container {
                width: 100%;
                margin: 0;
                padding: 0;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                list-style: none;
                right: 0;

                a {
                    display: block;
                    color: #fff;
                    text-decoration: none;
                    line-height: 20px;
                    padding-top: 25px;
                    text-align: center;
                    margin: 0 5%;
                    width: 50%;
                    filter: drop-shadow(5px 4px 4px $change-preset-color);

                    &:hover {
                        border-top: 3px solid $primary-color;
                        padding-top: 22px;
                    }
                }
            }
        }

        .left {
            visibility: hidden;
            width: 0px;
            height: 70vh;
            flex: 1 1 auto;
            background: #3a3a3a;
        }
    }

    .logo-layout {
        position: relative;
        top: -50px;
        width: 100%;
        height: 65px;
        margin-left: 0;

        .logo {
            width: 13%;
            display: block;
            margin: 0 auto;

            img {
                width: 70px;
            }
        }

        .logo-title {
            display: none;

            //width: 65%;
       
        }
    }

    .slogan {
        margin-left: 10%;
    }

    .prize {
        height: 30vh;

        ul {
            width: 100%;
            margin: 0;

            li {
                width: (100% / 3);
                height: 50%;
            }

            li:nth-of-type(1) {
                width: 100%;
                height: 50%;
            }
        }
    }

    .contact {
        height: 1200px;

        .contact-container {
            width: 90%;

            .contact-title {
                height: 30%;

                .contact-title-desp {
                    min-height: 200px;
                    padding-top: 20px;

                    .contact-title-slogan {
                        padding-top: 0;
                    }
                }
            }
        }
    }

    .form-checkbox-item-option {
        width: 301px;
    }

    footer {
        height: 105px;
    }
}
