@charset "UTF-8";
header {
  height: 75vh;
  background: url(../src/images/index_01.jpg) center/cover no-repeat;
}

footer {
  height: 120px;
  margin-top: 20px;
  background: url(../src/images/footer.jpg) center/cover no-repeat;
}

.prize-block .prize-block-line-left, .prize-block .prize-block-line-right {
  width: 40px;
  height: 2px;
  background-color: #f0be9d;
}

.benefit-title-txtch, .benefit-title-txten {
  margin: 0;
}

@-webkit-keyframes moveUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}

@-webkit-keyframes moveDownward {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes moveDownward {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@-webkit-keyframes textareaTitle {
  0% {
    opacity: 0;
    font-size: 1rem;
    color: #9e9e9e;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    color: #f0be9d;
    font-size: 0.8rem;
  }
}

@keyframes textareaTitle {
  0% {
    opacity: 0;
    font-size: 1rem;
    color: #9e9e9e;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    color: #f0be9d;
    font-size: 0.8rem;
  }
}

@-webkit-keyframes button {
  0% {
  }
  100% {
  }
}

@keyframes button {
  0% {
  }
  100% {
  }
}

html, body {
  font-family: GillSans, Calibri, Trebuchet, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", sans-serif;
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

header, nav, section, footer, form {
  position: relative;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

textarea {
  resize: none;
  border: none;
}

button, textarea {
  outline: none;
}

button {
  padding: 0.85rem 0.375rem;
  cursor: pointer;
}

i {
  vertical-align: middle;
}

[tabindex="-1"]:focus {
  outline: 0;
}

input[type=text] {
  outline: 0;
}

input[type=radio] + label, input[type=checkbox] + label {
  cursor: pointer;
}

input[type=radio] + label::before, input[type=checkbox] + label::before {
  content: "";
  position: relative;
  display: inline-block;
}

h1, h2, h6 {
  font-weight: 300;
}

h2 {
  color: #ffffff;
}

.prize-container, .benefit-container, .contact-container {
  margin: 0 auto;
}

nav, .logo-layout, .logo, .slogan {
  display: inline-block;
}

.logo-layout, .slogan {
  position: relative;
}

nav {
  height: 70px;
  font-size: 0.875rem;
  color: #ffffff;
}

nav ul {
  position: absolute;
  top: 0px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35%;
}

nav ul a {
  width: 20%;
  display: inline-block;
  margin: 0 5%;
  padding-top: 25px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-shadow: 3px 3px 4px #0f0f0f;
}

nav ul a:hover {
  border-top: 3px solid #f0be9d;
  padding-top: 22px;
}

.logo-layout {
  width: 500px;
  height: 80px;
  margin-left: 20%;
}

.logo {
  width: 20%;
}

.logo img {
  width: 100px;
  -webkit-filter: drop-shadow(5px 5px 5px #0f0f0f);
          filter: drop-shadow(5px 5px 5px #0f0f0f);
}

.logo-title {
  width: 75%;
  height: 100%;
  margin-left: 10px;
  margin-top: 20px;
  vertical-align: top;
}

.logo-title h5 {
  margin: 0;
  color: #f0be9d;
  text-shadow: 3px 3px 5px #0f0f0f;
}

.logo-title .logo-title-number {
  margin-left: -5px;
  font-style: italic;
}

.slogan {
  width: 50%;
  height: 30%;
  margin-left: 20%;
  margin-top: 5%;
}

.slogan-content {
  width: 395px;
  color: #ffffff;
}

.slogan-content h1 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
  text-align: center;
}

.slogan-content p {
  width: 99%;
  margin-top: 20px;
  padding-left: 15px;
  font-size: 0.9rem;
  border-left: 3px solid #f0be9d;
  text-shadow: 1px 1px 2px #0f0f0f, 0 0 15px #0f0f0f, 0 0 5px #0f0f0f;
}

.nav-button {
  visibility: hidden;
  position: relative;
  display: inline-block;
  z-index: 1;
  width: 50px;
  height: 40px;
  margin-right: 10px;
  color: #f0be9d;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  -webkit-filter: drop-shadow(5px 4px 4px #0f0f0f);
          filter: drop-shadow(5px 4px 4px #0f0f0f);
}

.nav-button:hover {
  color: #ffffff;
}

.benefit-title-txtch {
  color: #ffffff;
}

.benefit-title-txten {
  color: #f0be9d;
}

.benefit-content {
  margin-top: 5%;
  overflow: hidden;
}

.benefit-content-block {
  width: 47%;
  height: 30%;
  margin-right: 2.5%;
  float: left;
}

.benefit-content-block h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #f0be9d;
}

.benefit-content-block p {
  line-height: 2;
  color: #ffffff;
}

.benefit {
  height: 800px;
  background: url(../src/images/section2.jpg) center/cover no-repeat;
}

.benefit-container {
  width: 75%;
  padding-top: 100px;
}

.contact-container {
  width: 60%;
  position: relative;
}

form {
  margin-top: 10%;
  color: #9e9e9e;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 6%;
}

.item-width, .form-text-container, .form-radio-item, .form-agent-name-item {
  width: 48%;
}

.select, textarea, input[type=text] {
  border-bottom: 1px solid #9e9e9e;
}

textarea:focus, input[type=text]:focus {
  border-bottom-color: #f0be9d;
}

.form-text-container-label {
  opacity: 0;
  position: relative;
  top: -30px;
  display: inline-block;
  min-width: 130px;
  height: 30px;
  line-height: 30px;
  font-size: 0.8rem;
  color: #f0be9d;
}

.form-text-required, .form-radio-required {
  visibility: hidden;
  display: block;
  color: #CC3333;
  border: 1px solid #CC3333;
}

.form-text-required {
  width: 32px;
  height: 18px;
}

.form-radio-required {
  width: 80px;
  height: 18px;
  margin-top: 15px;
  margin-left: 15px;
}

.error .form-text-required, .error .form-radio-required {
  visibility: visible;
}

.move-up {
  -webkit-animation: moveUp 0.2s;
          animation: moveUp 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.textarea-title-move-up {
  -webkit-animation: textareaTitle 0.2s;
          animation: textareaTitle 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

button {
  width: 120px;
  height: 55px;
  color: #ffffff;
  background: #f0be9d;
  border-radius: 0.25rem;
  border-color: rgba(247, 243, 243, 0.075);
  -webkit-box-shadow: 0 1px 2px #9e9e9e;
          box-shadow: 0 1px 2px #9e9e9e;
}

button:hover {
  background: #26a69a;
}

button:focus {
  background-color: #2e6d67;
}

button i {
  margin-right: 0;
  width: 25px;
  height: 30px;
  margin-left: 10px;
  padding-top: 2px;
  color: #ffffff;
}

input[type=text] {
  width: 100%;
  line-height: 2;
  border: none;
}

input[type=text] + label {
  cursor: text;
}

input[type=text]::-webkit-input-placeholder {
  color: #9e9e9e;
}

input[type=text]:-ms-input-placeholder {
  color: #9e9e9e;
}

input[type=text]::-ms-input-placeholder {
  color: #9e9e9e;
}

input[type=text]::placeholder {
  color: #9e9e9e;
}

input[type=radio] {
  opacity: 0;
}

input[type=radio] + label {
  display: inline-block;
  padding-left: 5px;
  cursor: pointer;
}

input[type=radio] + label::before {
  top: 3px;
  left: -50%;
  width: 12px;
  height: 12px;
  border: 2px solid #5e5e5e;
  border-radius: 0.5rem;
}

input[type=radio]:checked + label::before {
  content: "";
  border: 2px solid #f0be9d;
  background: #f0be9d;
}

input[type=checkbox] {
  opacity: 0;
}

input[type=checkbox] + label {
  margin-right: 3%;
}

input[type=checkbox] + label::before {
  left: -5px;
  width: 15px;
  height: 15px;
  border: 2px solid #5e5e5e;
}

input[type=checkbox]:checked + label {
  padding-left: 7px;
}

input[type=checkbox]:checked + label::before {
  content: "";
  width: 10px;
  height: 20px;
  border: none;
  border-right: 2px solid #f0be9d;
  border-bottom: 2px solid #f0be9d;
  border-bottom-width: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.select-block {
  border-top: 1px dashed #f0be9d;
}

.select {
  display: inline-block;
  position: relative;
  font-size: 1rem;
  width: 100%;
  height: 40px;
  border: none;
  cursor: pointer;
}

.select .select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #0f0f0f;
  padding: 8px 15px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #0f0f0f transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 5px;
}

.select-styled:hover {
  border-radius: 0.25rem;
}

.select-styled:active, .select-styled.active {
  border-radius: 0.25rem;
}

.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #0f0f0f transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  border: 1px solid #f0efef;
  border-radius: 2%;
  -webkit-box-shadow: 2px 3px 5px rgba(133, 133, 133, 0.2), -2px 0 5px rgba(133, 133, 133, 0.2), 0 2px rgba(19, 18, 18, 0.2);
          box-shadow: 2px 3px 5px rgba(133, 133, 133, 0.2), -2px 0 5px rgba(133, 133, 133, 0.2), 0 2px rgba(19, 18, 18, 0.2);
  background-color: #ffffff;
}

.select-options li {
  padding: 12px 0;
  text-indent: 15px;
  color: #f0be9d;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.select-options li:hover {
  background: #ebeaea;
}

.contact-title-pic-block {
  width: 48%;
  height: inherit;
  position: relative;
  display: inline-block;
}

.contact-title-pic-block .contact-title-pic-border {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: auto;
  padding: 33% 0;
  float: left;
  -webkit-transform: translate(0, -30px);
          transform: translate(0, -30px);
  border: 2px solid #f0be9d;
}

.contact-title-pic-block img {
  position: absolute;
  z-index: 2;
  width: 100%;
  float: left;
  -webkit-transform: translate(-15px, -15px);
          transform: translate(-15px, -15px);
}

.contact-title-desp {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.contact-title-slogan {
  padding-top: 15%;
  text-align: center;
}

.contact-title-slogan h1:nth-child(1) {
  margin: 0;
}

.contact-title-slogan h1:nth-child(2) {
  margin-top: 5px;
  margin-bottom: 15px;
  color: #f0be9d;
}

.contact-title-content {
  max-width: 450px;
  width: 75%;
  margin: 0 auto;
  line-height: 1.5;
  color: #666666;
}

.form-agent-name-item p {
  margin: 0;
  height: 50px;
  line-height: 50px;
}

.form-agent-name-item textarea {
  width: 100%;
}

.form-radio-item label:nth-of-type(1) {
  display: inline-block;
  line-height: 25px;
}

.form-radio-item-option {
  position: relative;
  width: 45%;
  max-width: 115px;
  float: right;
  text-align: right;
}

.form-radio-item-option::after {
  content: "";
  display: block;
  clear: both;
}

.form-checkbox-item-option {
  position: relative;
  width: 395px;
  line-height: 39px;
}

.form-textarea p {
  display: inline-block;
  margin: 0;
  height: 55px;
  line-height: 55px;
}

.form-textarea #message {
  width: 96%;
  float: right;
}

.form-textarea .message-character {
  width: 50px;
  height: 20px;
  line-height: 20px;
  margin-top: 20px;
  float: right;
  text-align: right;
  font-size: 0.8rem;
  color: #0f0f0f;
}

.form-textarea i {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  font-size: 24px;
  color: #0f0f0f;
}

.form-textarea::after {
  content: "";
  display: block;
  clear: both;
}

.prize-block {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prize-block a {
  width: 135px;
  height: 50%;
  letter-spacing: 2px;
  color: #f0be9d;
}

.prize-block .prize-block-txtch {
  margin: 5px 0;
  font-size: 0.875rem;
}

.prize-block .prize-block-number {
  margin: 0;
  font-size: 1.25rem;
  text-align: right;
  letter-spacing: 3px;
  font-family: 'Michroma';
}

.prize-block .prize-block-txt-unit {
  font-size: 0.625rem;
}

.prize-block .prizeblock-number-align {
  text-align: left;
}

.prize-block .prize-number-position {
  padding-right: 20px;
}

.prize-block .prize-block-line-left {
  -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}

.prize-block .prize-block-line-right {
  -webkit-transform: translate(-5px, -25px) rotate(-45deg);
          transform: translate(-5px, -25px) rotate(-45deg);
}

.prize {
  height: 18vh;
  background: url(../src/images/section1.jpg) 0 0/50% 50% repeat;
}

.prize-container {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  nav ul {
    right: 25px;
    width: 55%;
  }
  .logo-layout {
    top: -50px;
    margin-left: 5%;
  }
  .prize {
    height: 18vh;
  }
  .prize ul {
    width: 80%;
    margin: 0 auto;
  }
  .prize ul li {
    width: 25%;
    height: 100%;
  }
  .contact-container {
    width: 70%;
  }
  .contact-container .contact-title .contact-title-desp .contact-title-slogan {
    padding-top: 25px;
  }
  .form-checkbox-item-option {
    width: 230px;
  }
}

@media screen and (max-width: 992px) {
  nav ul {
    width: 45%;
  }
  .slogan {
    margin-left: 10%;
  }
  .prize {
    height: 30vh;
  }
  .prize .prize-container {
    width: 100%;
    margin: 0;
  }
  .prize .prize-container .prize-block {
    width: 33.33333%;
    height: 50%;
  }
  .prize .prize-container .prize-block-shrink-place {
    width: 100%;
    height: 50%;
  }
  .contact-container {
    width: 85%;
  }
  .contact-title-desp {
    min-height: 200px;
    padding-top: 20px;
  }
  .contact-title-desp .contact-title-slogan {
    padding-top: 0;
  }
  .form-checkbox-item-option {
    width: 302px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    display: inline-block;
    position: relative;
    z-index: 2;
  }
  nav .nav-button {
    visibility: visible;
  }
  .navbar {
    position: relative;
    top: -40px;
  }
  .navbar-container {
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    right: 0;
  }
  .navbar-container a {
    display: block;
    width: 50%;
  }
  .left {
    visibility: hidden;
    width: 0px;
    height: 70vh;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    background: #3a3a3a;
  }
  .logo-layout {
    position: relative;
    top: -50px;
    width: 100%;
    height: 65px;
    margin-left: 0;
  }
  .logo-layout .logo {
    width: 13%;
    display: block;
    margin: 0 auto;
  }
  .logo-layout .logo img {
    width: 70px;
  }
  .logo-layout .logo-title {
    display: none;
  }
  .slogan {
    margin-left: 10%;
  }
  .prize {
    height: 30vh;
  }
  .prize ul {
    width: 100%;
    margin: 0;
  }
  .prize ul li {
    width: 33.33333%;
    height: 50%;
  }
  .prize ul li:nth-of-type(1) {
    width: 100%;
    height: 50%;
  }
  .contact {
    height: 1200px;
  }
  .contact .contact-container {
    width: 90%;
  }
  .contact .contact-container .contact-title-desp {
    min-height: 200px;
    padding-top: 20px;
  }
  .contact .contact-container .contact-title-desp .contact-title-slogan {
    padding-top: 0;
  }
  .form-checkbox-item-option {
    width: 301px;
  }
  footer {
    height: 105px;
  }
}

@media screen and (max-width: 578px) {
  header {
    height: 70vh;
  }
  .logo-layout {
    position: relative;
    top: -50px;
    width: 100%;
    height: 65px;
    margin-left: 0;
  }
  .logo-layout .logo {
    width: 13%;
    display: block;
    margin: 0 auto;
  }
  .logo-layout .logo img {
    width: 70px;
  }
  .logo-layout .logo-title {
    display: none;
  }
  .slogan {
    margin-top: 15%;
  }
  .slogan .slogan-content {
    width: 300px;
  }
  .slogan .slogan-content h2 {
    text-align: left;
    font-size: 1.5rem;
  }
  .slogan .slogan-content p {
    height: 55%;
    line-height: 25px;
    width: 94%;
  }
  .prize-block .prize-block-text-shrink {
    width: 85px;
  }
  .prize-block a {
    width: 115px;
    height: 65px;
  }
  .prize-block .prize-block-txtch {
    font-size: 2vmin;
  }
  .prize-block .prize-block-number {
    font-size: 2vmin;
  }
  .prize-block .prize-number-position {
    padding-right: 0;
  }
  .prize-block .prizeblock3-txtch-position {
    padding-left: 0;
  }
  .prize-block .prize-block-txt-unit {
    display: inline-block;
    font-size: 5px;
  }
  .benefit {
    height: 1200px;
  }
  .benefit .benefit-container {
    width: 90%;
  }
  .benefit .benefit-content .benefit-content-block {
    width: 100%;
    height: 20%;
  }
  .contact .contact-container .contact-title-pic-block {
    width: 95%;
    height: 300px;
    margin-top: 30px;
    margin-left: 20px;
  }
  .contact .contact-container .contact-title-desp {
    width: 100%;
  }
  .contact .contact-container .contact-title-desp .contact-title-content {
    width: 100%;
    max-width: 455px;
    margin: 0 auto;
    line-height: 25px;
    font-size: 0.85rem;
  }
  form .form-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
  }
  form .form-text-container {
    width: 100%;
    margin-bottom: 12%;
  }
  form .form-radio-item {
    width: 100%;
    margin-bottom: 12%;
  }
  form .form-radio-item-option {
    max-width: 120px;
  }
  form .select-block {
    margin-bottom: 10%;
  }
  form .item-width {
    width: 100%;
  }
  form .form-checkbox-item-option {
    width: 255px;
    margin-bottom: 6%;
  }
  form .form-agent-name-item {
    margin-bottom: 6%;
  }
  input[type=text] {
    height: 20px;
    line-height: 15px;
    margin-top: 10px;
  }
  footer {
    height: 70px;
    margin-top: 850px;
  }
}
/*# sourceMappingURL=style.css.map */