@charset "UTF-8";
.prize > ul li a .prize-block .prize-block-line-left {
  width: 40px;
  height: 2px;
  background-color: #f4cea7;
  -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}

.prize > ul li a .prize-block .prize-block-line-right {
  width: 40px;
  height: 2px;
  background-color: #f4cea7;
  -webkit-transform: translate(-25px, -40px) rotate(-45deg);
          transform: translate(-25px, -40px) rotate(-45deg);
}

html, body {
  font-family: GillSans, Calibri, Trebuchet, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

header {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 75vh;
  background: url(../src/images/index_01.jpg) center/cover no-repeat;
}

nav {
  display: inline-block;
  width: 99%;
  height: 70px;
  font-size: 14px;
  color: #ffffff;
}

nav ul {
  position: absolute;
  right: 10px;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  list-style: none;
}

nav li {
  line-height: 20px;
  padding: 3.5% 0 0 0;
  text-align: center;
  margin: 0 5%;
  width: 20%;
}

nav li:hover {
  border-top: 3px solid #f4cea7;
  padding-top: 3%;
}

nav li a {
  text-decoration: none;
  color: #ffffff;
}

.logo-layout {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 80px;
  margin-left: 300px;
}

.logo-layout .logo {
  display: inline-block;
  width: 20%;
  height: auto;
}

.logo-layout .logo > img {
  width: 100px;
  height: auto;
}

.logo-layout .logo-title {
  display: inline-block;
  width: 75%;
  height: 100%;
  vertical-align: top;
}

.logo-layout .logo-title > h4 {
  margin: 0;
  margin-top: 20px;
  color: #f4cea7;
}

.logo-layout .logo-title > h3 {
  margin: 0;
  color: #f4cea7;
}

.slogan {
  position: relative;
  display: inline-block;
  width: 85%;
  height: 30%;
  margin-left: 15%;
  margin-top: 5%;
}

.slogan .slogan-content {
  width: 395px;
  color: #ffffff;
}

.slogan .slogan-content > h2 {
  width: 100%;
  padding-bottom: 10px;
  margin: 0;
  border-bottom: 1px solid #ffffff;
  font-size: 2.5rem;
  font-weight: 100;
  text-align: center;
}

.slogan .slogan-content > p {
  width: 99%;
  margin-top: 20px;
  padding-left: 15px;
  font-size: 0.9rem;
  border-left: 2px solid #f4cea7;
}

/*>.logo-layout{
      max-width: 100%;
      height: 50%;
      padding-top: 110px;
      margin: 0 380px;
     .title-logo{
        //position: absolute;
        //left: 370px;
        //top: 110px;
        width: 100%;
        height: auto;
        display: inline-block;
        a{
          display: inline-block;
          width: 18%;
          height: 37%;
          background: url(../src/images/logo.png) 0 0/contain no-repeat;
        }
        .title-logo-txt{
        display: inline-block;
        vertical-align: top;
        padding-top: 35px;
        padding-left: 20px;
        width: 75%;
        height: auto;
        h4{
          width: 100%;
          height: auto;
          margin: 0;
          padding-left: 3;
          font-size: 20px;
          letter-spacing: $letter-space;
          color: $font-color-or;
        }
        h2{
          margin: 5 0;
          font-size: 25px;
          letter-spacing: $letter-space;
          color: $font-color-or;
          font-weight: 400;

          }
      }
    }
    .title-slogan{
      //position: absolute; //位置關係;
      //left: 370px;
      //top: 280px;
      //display: inline-block;
      width: 100%;
      //height: 12%;
      padding-top: 25px;
      margin-left: 5px;
      border-bottom: 2px solid$font-color-wh;
      .title-slogan-txtch{
        display: inline-block;
        vertical-align: top;
        width: 30%;
        margin: 0;
        padding-left: 5px;
        font-size: 70px;
        font-weight: 100;
        letter-spacing: 5;
        color: $font-color-wh;
        
      }
      .title-slogan-txten{
        display: inline-block;
        vertical-align: top;
        width: 35%;
        margin: 25px 0 20px 0;
        color:$font-color-wh;
        font-size: 25px;
        letter-spacing: $letter-space;
      }
    }
    .title-content{
      width: (100% * 3/5);
      height: auto;
      margin-top: 20px;
      padding-left: 40px;
      font-size: 12.5px;
      letter-spacing: 4px;
      line-height: 30px;
      color: $font-color-wh;
    }
  }
}*/
.prize {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 20vh;
  background: url(../src/images/section1.jpg) 0 0/cover no-repeat;
}

.prize > ul {
  margin: 0;
  list-style: none;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
}

.prize > ul li {
  display: inline-block;
  font-size: 16px;
  width: 25%;
  height: 100%;
}

.prize > ul li a {
  text-decoration: none;
  color: #f4cea7;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.prize > ul li a .prize-block {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prize > ul li a .prize-block .prize-block-txt {
  width: 140px;
  margin-bottom: 35px;
  letter-spacing: 2px;
}

.prize > ul li a .prize-block .prize-block-txt .prize-block-txtch {
  margin: 5px 0;
  font-size: 14px;
}

.prize > ul li a .prize-block .prize-block-txt .prizeblock3-txtch-position {
  padding-left: 15px;
}

.prize > ul li a .prize-block .prize-block-txt .prize-block-number {
  margin: 0;
  font-size: 20px;
  text-align: right;
  letter-spacing: 3px;
  font-family: 'Michroma';
  font-weight: normal;
}

.prize > ul li a .prize-block .prize-block-txt .prizeblock2-number-align {
  text-align: left;
}

.prize > ul li a .prize-block .prize-block-txt .prize-number-position {
  padding-right: 20px;
}

.prize > ul li a .prize-block .prize-block-txt .prize-block-txt-unit {
  font-size: 10px;
}

.benefit {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 800px;
  background: url(../src/images/section2.jpg) center/cover no-repeat;
}

.benefit .benefit-block {
  width: 75%;
  margin: 0 auto;
  padding: 100px 0;
}

.benefit .benefit-block .benefit-title {
  width: 100%;
}

.benefit .benefit-block .benefit-title .benefit-title-txtch {
  margin: 0;
  font-size: 3rem;
  font-weight: normal;
  color: #ffffff;
}

.benefit .benefit-block .benefit-title .benefit-title-txten {
  margin: 0;
  font-size: 3rem;
  font-weight: normal;
  color: #f4cea7;
}

.benefit .benefit-block .benefit-container {
  width: 100%;
  height: auto;
  margin-top: 5%;
  overflow: hidden;
}

.benefit .benefit-block .benefit-container .benefit-container-block {
  width: 47%;
  height: 30%;
  margin-right: 2.5%;
  float: left;
}

.benefit .benefit-block .benefit-container .benefit-container-block > h2 {
  padding-bottom: 10px;
  font-size: 2rem;
  font-weight: normal;
  color: #ffffff;
  border-bottom: 1px solid #f4cea7;
}

.benefit .benefit-block .benefit-container .benefit-container-block > p {
  line-height: 30px;
  color: #ffffff;
}

.benefit .benefit-block .benefit-container .benefit-container-block::after {
  content: "";
  display: block;
  clear: both;
}

.contactus {
  width: 100%;
  height: 400px;
}

.contactus .contactus-block {
  width: 60%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.contactus .contactus-block .contactus-pic-block {
  width: 45%;
  height: 80%;
  position: relative;
  display: inline-block;
}

.contactus .contactus-block .contactus-pic-block .contactus-pic-block-border {
  width: 100%;
  height: auto;
  padding: 33% 0;
  float: left;
  position: absolute;
  z-index: 3;
  -webkit-transform: translate(0, -30px);
          transform: translate(0, -30px);
  border: 3px solid #f4cea7;
}

.contactus .contactus-block .contactus-pic-block img {
  width: 100%;
  float: left;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-20px, -10px);
          transform: translate(-20px, -10px);
}

.contactus .contactus-block .contactus-slogan {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.contactus .contactus-block .contactus-slogan .contactus-title {
  width: 100%;
  padding-top: 100px;
  text-align: center;
}

.contactus .contactus-block .contactus-slogan .contactus-title .contactus-title-txtch {
  margin: 0;
  font-size: 2.5rem;
  font-weight: normal;
}

.contactus .contactus-block .contactus-slogan .contactus-title .contactus-title-txten {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 2.5rem;
  font-weight: normal;
  color: #f4cea7;
}

.contactus .contactus-block .contactus-slogan .contactus-title-content {
  width: 450px;
  margin: 0 auto;
  color: #666666;
}

.form {
  width: 100vw;
  max-width: 100%;
  height: 600px;
}

/*.form{
  position: relative;
  max-width: 100vw;
  height: 550px;
  background-color: $font-color-wh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: $font-color-gray;
  font-size: 14px;
  .form_span{
    line-height: 20px; 
    padding-top: 40px;
    margin-bottom: -20px;
    }
  >.form_left{
    @extend %form-style;
    select{
      @extend %form-line-style;
      cursor: text;
      border-bottom-width: 2px;
      border-color: $font-color-black;
      color: $font-color-gray;
      margin-top: 45px;
      /*&::before{
        content: "代理年限";
        color: $font-color-gray;
      }
      &:focus{
       color: $font-color-or;
       border-bottom-color: $font-color-or;

       &::placeholder{
        color: $font-color-or;
      }
      &:checked{
        color: $font-color-or;
      }
     }
     option{
       direction: rtl;
     }
    }
  }
  >.form_right{
    @extend %form-style;
    padding-top: 25px;
    .gender_block{
      margin-top: 22px;
    }
    .qq{
      margin-top: 20px;
    }
  }
  >.form_bottom{
    width: 56%;
    height: auto;
    p:first-child{
      margin: 0;
    }
    textarea{
      width: 90%;
      color: $font-color-gray;
      outline: none;
      resize: none; //取消textarea右下角預設樣式
      border-style: hidden hidden solid hidden;
      border-color: $font-color-black;
      text-align: right;
      &:focus{
        color: $font-color-or;
        border-bottom-color: $font-color-or;
       }
  }
  input{
    @extend %form-line-style;
      &[type=text]{
       &:focus{
         color: $font-color-or;
         &::placeholder{
           color: $font-color-or;}
         }
        }
       &[type=radio]{
         display: none;
         + label{
           cursor: pointer;
         }
         + label span{
          display:inline-block;
          width:19px;
          height:22px;
          margin:-2px 10px 0 10px;
          vertical-align:middle;
          background: url(../src/images/radio_before.png) 0 0 no-repeat;
          cursor:pointer;
         }
         &:checked + label span{
           background: url(../src/images/radio_after.png) 0 0 no-repeat;
         }
       }
       &[type=submit]{
         background: url(../src/images/submit.png) 0 0/contain no-repeat;
         width: 12%;
         min-height: 57px;
         margin-top: 20px;
         border-bottom-style: none;
         cursor: pointer;
       }
       &::placeholder{ 
         color: $font-color-gray;
        }
       
      }
}
}*/
footer {
  width: 100vw;
  max-width: 100%;
  height: 155px;
  background: url(../src/images/footer.jpg) center/cover no-repeat;
}
/*# sourceMappingURL=style.css.map */