//Input
input {
    &[type=text] {
        //position: relative;
        //z-index: 1; //將input移上一層，點擊placeholder也能觸發animation
        width: 100%;
        line-height: $line-height-lg;
        border: none;

        + label {
            cursor: text;
        }

        &::placeholder {
            color: $form-color;
        }
    }

    &[type=radio] {
        opacity: 0; //將預設的radio透明
        + label {
            display: inline-block;
            padding-left: 5px;
            cursor: pointer;

            &::before {
                top: 3px;
                left: -50%;
                width: 12px;
                height: 12px;
                border: 2px solid darken($form-color, 25%);
                border-radius: $border-radius-round;
            }
        }

        &:checked + label { //點擊label
            &::before {
                content: "";
                border: 2px solid $primary-color;
                background: $primary-color;
            }
        }
    }

    &[type=checkbox] {
        opacity: 0;

        + label {
            margin-right: 3%;

            &::before {
                left: -5px;
                width: 15px;
                height: 15px;
                border: 2px solid darken($form-color, 25%);
            }
        }

        &:checked + label {
            padding-left: 7px;

            &::before {
                content: "";
                width: 10px;
                height: 20px;
                border: none;
                border-right: 2px solid $primary-color;
                border-bottom: 2px solid $primary-color;
                border-bottom-width: 2px;
                transform: rotate(45deg);
            }
        }
    }
}
