.benefit {
    height: 800px;
    background: url(../src/images/section2.jpg) (center / cover) no-repeat;
}

.benefit-container {
    width: 75%;
    padding-top: 100px;
}

//--Benefit Title區塊--
.benefit-title-txtch {
    @extend %benefit-title-style;

    color: $secondary-color;
}

.benefit-title-txten {
    @extend %benefit-title-style;

    color: $primary-color;
}

//--Benefit 4大項目區塊--
.benefit-content {
    margin-top: 5%;
    overflow: hidden;
}

//項目區塊
.benefit-content-block {
    width: 47%;
    height: 30%;
    margin-right: 2.5%;
    float: left;

    h2 {
        padding-bottom: 10px;
        border-bottom: 1px solid $primary-color;
    }

    p {
        line-height: $line-height-lg;
        color: $secondary-color;
    }
}
