ul {
    margin: 0;
    padding: 0;
    list-style: none; //是ul的属性，不是li属性
}

a {
    display: inline-block;
    text-decoration: none;
}

h1, h2 {
    font-weight: $font-weight-light;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: 2rem;
    color: $secondary-color;
}

p {
    line-height: $line-height-base;
}

textarea {
    resize: none;
    border: none;
}

input {
    &[type=text] {
        outline: none;
    }
}

.select, button, textarea {
    outline: none;
}

.select, textarea {
    border-bottom: 1px solid $form-color;
}
