h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none; //是ul的属性，不是li属性
}

a {
    display: inline-block;
    text-decoration: none;
}

p {
    line-height: $line-height-base;
}

textarea {
    resize: none;
    border: none;
}

input {
    &[type=text] {
        outline: none;
    }
}

.select, button, textarea {
    outline: none;
}
