header {
    height: 75vh; //100vh
    background: url(../src/images/index_01.jpg) (center / cover) no-repeat;
}

footer {
    height: 120px;
    margin-top: 20px;
    background: url(../src/images/footer.jpg) (center / cover) no-repeat;
}
