html, body {
    font-family: $font-family-st;
    font-size: $font-size-base;
    width: 100%;
    height: 100%;
}

header {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 75vh; //100vh
    background: url(../src/images/index_01.jpg) (center / cover) no-repeat;
}

section {
    position: relative;
    width: 100vw;
    max-width: 100%;
}

footer {
    width: 100vw;
    max-width: 100%;
    height: 120px;
    margin-top: 20px;
    background: url(../src/images/footer.jpg) (center / cover) no-repeat;
}
