ul {
    margin: 0;
    padding: 0;
    list-style: none; //是ul的属性，不是li属性
}

a{
    display: inline-block;
    text-decoration: none;
}

h1,h2{
    font-weight: 100;
    font-size: 2.5rem;
}
h1{
    font-size: 2.5reem; 
}
h2{
    font-weight: 100;
}
