html, body {
    font-family: $font-family-st;
    font-size: 16px;
    font-weight: 100;
    width: 100%;
    height: 100%;
}

header {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 75vh; //100vh
    background: url(../src/images/index_01.jpg) (center / cover) no-repeat;
}

.prize {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 18vh;
    background: url(../src/images/section1.jpg) 0 ( 0 / 50% 50%) repeat;
}

.benefit {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 800px;
    background: url(../src/images/section2.jpg) (center / cover) no-repeat;
}

.contact {
    width: 100%;
    height: 1400px;
}

footer {
    width: 100vw;
    max-width: 100%;
    height: 120px;
    margin-top: 20px;
    background: url(../src/images/footer.jpg) (center / cover) no-repeat;
}
