$primary-color: #f0be9d;
$second-color: #ffffff;
$change-preset-color: #0f0f0f;
$form-color: #9e9e9e;
$form-requird-color: #CC3333;
$contact-title-content-color: #666666;
$select-background: #f0efef;
$button-hover-background: #26a69a;
$button-focus-background: #2e6d67;
$select-width: 100%;
$select-height: 40px;
$font-family-st: GillSans, Calibri, Trebuchet, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", sans-serif;
$letter-space: 2px;
$prizeblock-leftline: 10px;
$prizeblock-rightline-x: -15px;
$prizeblock-rightline-y: -25px;
$prizeblock-rotate-line: -45deg;
