@media screen and (min-width: 1200px) {
    header {
        height: 75vh;
    }

    .prize {
        height: 18vh;

        ul {
            width: 80%;
            margin: 0 auto;

            li {
                width: (100% / 4);
                height: 100%;
            }
        }

        .contact-container {
            width: 70%;
        }

        form {
            min-height: 720px;
        }
    }
}
