@media screen and (max-width: 1200px) {
    .prize {
        height: 18vh;

        ul {
            width: 80%;
            margin: 0 auto;

            li {
                width: (100% / 4);
                height: 100%;
            }
        }
    }
    

    //form {
    //    min-height: 720px;
    //}
}
