@import "variables";
@import "commin";
@import "layout";

@mixin prize-block-left-line { //prize block left-line
    @extend %prize-line-style;

    transform: translateY($prizeblock-leftline) rotate($prizeblock-rotate-line);
}

@mixin prize-block-right-line {
    @extend %prize-line-style;

    transform: translate($prizeblock-rightline-x, $prizeblock-rightline-y) rotate($prizeblock-rotate-line);
}

%prize-line-style { //prize-block-line-style
    width: 40px;
    height: 2px;
    background-color: $primary-color;
}

%benefit-title-style {
    margin: 0;
    font-size: 3rem;
    font-weight: normal;
}

nav {
    display: inline-block;
    width: 100%;
    height: 70px;
    font-size: 14px;
    color: $second-color;

    ul { //不用的話
        position: absolute;
        right: 10px;
        width: 35%;
        display: flex;
        justify-content: center;

        a {
            color: $second-color;
            line-height: 20px;
            padding-top: 25px;
            text-align: center;
            margin: 0 5%;
            width: 20%;
            text-shadow: 3px 3px 4px $change-preset-color;

            &:hover {
                border-top: 3px solid $primary-color;
                padding-top: 22px;
            }
        }
    }
}

.nav-button {
    display: none;
}

.logo-layout {
    position: relative;
    display: inline-block;
    width: 500px;
    height: 80px;
    margin-left: 20%;
}

.logo {
    display: inline-block;
    width: 20%;
    height: auto;

    img {
        width: 100px;
        height: auto;
        filter: drop-shadow(5px 5px 5px $change-preset-color);
    }
}

.logo-title {
    display: inline-block;
    width: 75%;
    height: 100%;
    vertical-align: top;
    margin-left: 10px;

    h4, h3 {
        margin: 0;
        color: $primary-color;
        text-shadow: 3px 3px 5px $change-preset-color;
    }

    h4 {
        margin-top: 20px;
    }

    h3 {
        font-style: italic;
        margin-left: -5px;
    }
}

.slogan {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 30%;
    margin-left: 20%;
    margin-top: 5%;

    .slogan-content {
        width: 395px;
        color: $second-color;

        h1 {
            margin: 0;
            padding-bottom: 10px;
            border-bottom: 1px solid $second-color;
            
            text-align: center;
        }

        p {
            width: 99%;
            margin-top: 20px;
            padding-left: 15px;
            font-size: 0.9rem;
            border-left: 3px solid $primary-color;
            text-shadow: 1px 1px 2px $change-preset-color, 0 0 15px $change-preset-color, 0 0 5px $change-preset-color;
        }
    }
}

.prize-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.prize-block {
    width: (100% / 4);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .prize-block-line-left {
        @include prize-block-left-line;
    }

    a {
        width: 135px;
        height: 50%;
        color: $primary-color;
        letter-spacing: $letter-space;
    }

    .prize-block-txtch {
        margin: 5px 0;
        font-size: 0.8rem;
    }

    .prizeblock3-txtch-position {
        padding-left: 15px;
    }

    .prize-block-number {
        margin: 0;
        font-size: 20px;
        text-align: right;
        letter-spacing: 3px;
        font-family: 'Michroma';
        font-weight: normal;
    }

    .prizeblock2-number-align {
        text-align: left;
    }

    .prize-number-position {
        padding-right: 20px;
    }

    .prize-block-txt-unit {
        font-size: 10px;
    }

    .prize-block-line-right {
        @include prize-block-right-line;
    }
}

.benefit-container {
    width: 75%;
    margin: 0 auto;
    padding-top: 100px;
}

.benefit-title {
    .benefit-title-txtch, .benefit-title-txten {
        margin: 0;
        font-size: 3rem;
        font-weight: normal;
    }

    .benefit-title-txtch {
        @extend %benefit-title-style;

        color: $second-color;
    }

    .benefit-title-txten {
        @extend %benefit-title-style;

        color: $primary-color;
    }
}

.benefit-content {
    margin-top: 5%;
    overflow: hidden;

    .benefit-content-block {
        width: 47%;
        height: 30%;
        margin-right: 2.5%;
        float: left;

        h2 {
            padding-bottom: 10px;
            font-size: 2rem;
            color: $second-color;
            border-bottom: 1px solid $primary-color;
        }

        p {
            line-height: 30px;
            color: $second-color;
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }
}

form {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 60%;
    min-height: 900px;
    margin: 0 auto;
    color: $form-color;
}

.contact-container {
    width: 60%;
    position: relative;
    margin: 0 auto;
}

.contact-title {
    height: 32%;
    min-height: 360px;

    .contact-title-pic-block {
        width: 48%;
        height: inherit;
        position: relative;
        display: inline-block;

        .contact-title-pic-border {
            width: 100%;
            height: auto;
            padding: 33% 0;
            float: left;
            position: absolute;
            z-index: 3;
            transform: translate(0, -30px);
            border: 2px solid $primary-color;
        }

        img {
            width: 100%;
            float: left;
            position: absolute;
            z-index: 2;
            transform: translate(-15px, -15px);
        }
    }

    .contact-title-desp {
        width: 50%;
        min-height: 360px;
        display: inline-block;
        vertical-align: top;

        .contact-title-slogan {
            padding-top: 15%;
            text-align: center;

            h1:nth-child(1) {
                margin: 0;
                
            }

            h1:nth-child(2) {
                margin-top: 5px;
                margin-bottom: 15px;
               
                color: $primary-color;
            }
        }

        .contact-title-content {
            max-width: 450px;
            width: 75%;
            margin: 0 auto;
            line-height: 25px;
            color: $contact-title-content-color;
        }
    }
}

.form-row { //form的每一行
    display: flex;
    justify-content: space-between;
    margin-bottom: 6%;
}

.select-block {
    border-top: 1px dashed $primary-color;
}

.form-text-container {
    width: 48%;

    //overflow: hidden;

    .form-text-container-label {
        opacity: 0;
        position: relative;
        top: -30px;
        display: inline-block;

        //float: left;
        min-width: 130px;
        height: 30px;
        line-height: 30px;
        font-size: 0.8rem;
        color: $primary-color;
    }
}

//必填(text)的style
.form-text-required {
    visibility: hidden; //隱藏
    width: 32px; //若不設定寬高，會使父元素overflow:hidden超過的隱藏，及不顯示此class style
    height: 18px;
    display: block;
    color: $form-requird-color;
    border: 1px solid $form-requird-color;
}

//請進行選取(radio)的style
.form-radio-required {
    visibility: hidden; //隱藏
    width: 80px; //若不設定寬高，會使父元素overflow:hidden超過的隱藏，及不顯示此class style
    height: 18px;
    margin-top: 15px;
    margin-left: 15px;
    display: block;
    color: $form-requird-color;
    border: 1px solid $form-requird-color;
}

.error {
    .form-text-required, .form-radio-required {
        visibility: visible; //顯示
   
    }
}

.error-radio {
    .form-radio-required {
        visibility: visible; //顯示
   
    }
}

.form-radio-item {
    width: 48%;

    label:nth-of-type(1) {
        display: inline-block;
        line-height: 25px;
    }
}

.form-radio-item-option {
    position: relative;
    width: 45%;
    max-width: 115px;
    float: right;
    text-align: right;

    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

//text-animation for js
.move-up {
    animation: moveUp 0.2s; //呼叫名為 move 的animation
    animation-fill-mode: forwards; //停在最後一個動畫
}

//textarea-animation
.texarea-title-move-up {
    animation: textareaTitle 0.2s; //呼叫名為textareaTitle 的animation
    animation-fill-mode: forwards;
}

.form-checkbox-item-option {
    position: relative;
    width: 395px;
    line-height: 39px;
}

.form-agent-name-item {
    p {
        margin: 0;
        height: 50px;
        line-height: 50px;
    }

    textarea {
        width: 100%;
    }
}

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    width: $select-width;
    height: $select-height;
    outline: none;
    border: none;
    border-bottom: 1px solid $form-color;
    cursor: pointer;
}

.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: $change-preset-color;

    //background-color: $select-background;
    padding: 8px 15px;
    transition: all 0.2s ease-in;

    &:after { //箭頭
        content: "";
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-color: $change-preset-color transparent transparent transparent;
        position: absolute;
        top: 16px;
        right: 5px;
    }

    &:hover {
        border-radius: 2%;
    }

    &:active, &.active {
        border-radius: 2%;

        &:after { //點擊之後的箭頭
            top: 9px;
            border-color: transparent transparent $change-preset-color transparent;
        }
    }
}

.select-options {
    display: none;
    position: absolute;
    top: 0%;
    right: 0;
    left: 0;
    z-index: 9999;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid $select-background;
    border-radius: 2%;
    box-shadow: 2px 3px 5px rgba(133, 133, 133, 0.2), -2px 0 5px rgba(133, 133, 133, 0.2), 0 2px rgba(19, 18, 18, 0.2);
    background-color: $second-color;

    li {
        margin: 0;
        padding: 12px 0;
        text-indent: 15px;
        color: $primary-color;

        //border-top: 1px solid darken($select-background, 10);
        transition: all 0.15s ease-in;

        &:hover {
            //color: $primary-color;
            background: darken($select-background, 2);
        }

        /*&[rel="hide"] {
          display: none;
        }*/
    }
}

.item-width { //暫時先不動
    width: 48%;

    //background: rgba(241, 144, 17, 0.2);
}

.form-textarea { //暫時先不動
    width: 100%;
    overflow: hidden;

    > div {
        > p {
            display: inline-block;
            margin: 0;
            height: 50px;
            line-height: 50px;
        }
    }

    #message {
        width: 96%;
        float: right;
    }

    .message-character { //0-100 style
        width: 50px;
        height: 20px;
        line-height: 20px;
        margin-top: 20px;
        float: right;
        text-align: right;
        font-size: 0.8rem;
        color: $change-preset-color;
    }
}

textarea {
    width: 100%;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid $form-color;

    &:focus {
        border-bottom-color: $primary-color;
    }
}

i {
    font-size: 20px;
    margin-right: 15px;
    color: $change-preset-color;
}

.material-icons {
    width: 20px;
    height: 20px;
}

input {
    &[type=text] {
        //position: relative;
        //z-index: 1; //將input移上一層，點擊placeholder也能觸發animation
        width: 100%;
        line-height: 40px;
        outline: none;
        border: none;
        border-bottom: 1px solid $form-color;

        + label {
            cursor: text;
        }

        &::placeholder {
            color: $form-color;
            
        }

        &:focus {
            border-bottom-color: $primary-color;
        }
    }

    &[type=radio] {
        opacity: 0; //將預設的radio透明
        + label {
            display: inline-block;
            padding-left: 5px;
            cursor: pointer;

            &::before {
                content: "";
                position: relative;
                left: -50%;
                top: 3px;
                display: inline-block;
                width: 12px;
                height: 12px;
                border: 2px solid darken($form-color, 25%);
                border-radius: 50%;
            }
        }

        &:checked + label { //點擊label
            &::before {
                content: "";
                position: relative;
                border: 2px solid $primary-color;
                background: $primary-color;
            }
        }
    }

    &[type=checkbox] {
        opacity: 0;

        + label {
            margin-right: 3%;
            cursor: pointer;

            &::before {
                content: "";
                position: relative;
                left: -5px;
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 2px solid darken($form-color, 25%);
            }
        }

        &:checked + label {
            padding-left: 7px;

            &::before {
                content: "";
                width: 10px;
                height: 20px;
                border: none;
                border-right: 2px solid $primary-color;
                border-bottom: 2px solid $primary-color;
                border-bottom-width: 2px;
                transform: rotate(45deg);
            }
        }
    }
}

button {
    width: 50%;
    max-width: 120px;
    height: 55px;
    line-height: 55px;
    padding: 0 20px;
    padding-top: 6px;
    outline: none;
    background: $primary-color;
    color: $second-color;
    border-radius: 3%;
    border-color: rgba(247, 243, 243, 0.075);
    box-shadow: 0 1px 2px $form-color;

    &:hover {
        background: $button-hover-background;
    }

    //被點擊(焦點)後改變顏色，失去焦點後變回button原顏色
    &:focus {
        background-color: $button-focus-background;
    }

    cursor: pointer;

    .material-icons {
        margin-right: 0;
        display: inline-block;
        width: 25px;
        height: 30px;
        vertical-align: middle;
        margin-left: 10px;
        padding-top: 2px;
        color: #ffffff;
        font-size: 1.5rem;
    }
}
