$font-color-or:#f4cea7;
$font-color-wh:#ffffff;
$font-color-gray:#c8c6c6;
$font-color-black:#000;
$font-family-ch:"Microsoft Yahei","微软雅黑";
$font-family-en:'Times New Roman', Times, serif;
$letter-space:2px;

%form-style{
    width: 28%;
    height: auto;
    margin-top: 20px;
  }
%form-line-style{    //input+select
  border-style: hidden hidden solid hidden;
  line-height: 30px; 
  margin-top: 35px;
  width: 80%;
  outline:none;
}

header {
    position: relative;
    height:100vh;
    background: url(../src/images/index_01.jpg) 0 0/100% 100% no-repeat;
    >nav{
     font-size: 14px;
     color:$font-color-wh;
     font-family: $font-family-ch;
       ul{ //不用
        display: flex;
        margin: 0 10%;
        list-style: none;
        justify-content: space-around;
        position: absolute;
        right: 80px;
        width: 35%;
      }
      li{
          line-height: 20px;
          padding: 3.5% 2% 2% 2%;
          text-align: center;
          margin: 0 2%;
          width: 28%;
          &:hover {
            border-top:5px solid $font-color-or;
            padding-top: 2.8%;
            }
            a{
              text-decoration: none;
              color:$font-color-wh;
              
            }
          }
    }
    
    >.logo_layout{
      max-width: 100%;
      height: 50%;
      padding-top: 110px;
      margin: 0 380px;
     .logo{
        //position: absolute;
        //left: 370px;
        //top: 110px;
        width: 100%;
        height: auto;
        display: inline-block;
        a{
          display: inline-block;
          width: 18%;
          height: 37%;
          background: url(../src/images/logo.png) 0 0/contain no-repeat;
        }
        .logo_right{
        display: inline-block;
        vertical-align: top;
        padding-top: 35px;
        padding-left: 20px;
        width: 75%;
        height: auto;
        h4{
          width: 100%;
          height: auto;
          margin: 0;
          padding-left: 3;
          font-size: 20px;
          letter-spacing: $letter-space;
          color: $font-color-or;
          font-family: $font-family-ch;
        }
        h2{
          margin: 5 0;
          font-size: 25px;
          letter-spacing: $letter-space;
          color: $font-color-or;
          font-family: $font-family-ch;
          }
      }
    }
    .banner_txt{
      //position: absolute; //位置關係;
      //left: 370px;
      //top: 280px;
      //display: inline-block;
      width: 100%;
      //height: 12%;
      padding-top: 25px;
      margin-left: 5px;
      border-bottom: 2px solid$font-color-wh;
      .txt_ch{
        display: inline-block;
        vertical-align: top;
        width: 30%;
        margin: 0;
        padding-left: 5px;
        font-size: 70px;
        font-weight: 100;
        letter-spacing: 5;
        color: $font-color-wh;
        font-family: "Microsoft Yahei", "微软雅黑";
        
      }
      .txt_en{
        display: inline-block;
        vertical-align: top;
        width: 55%;
        margin:0 0 20px 0;
        color:$font-color-wh;
        font-family: $font-family-ch;
        font-size: 35px;
        letter-spacing: $letter-space;
      }
    }
    .content{
      //position: absolute;
      //left: 370px;
      //top: 400px;
      width: (100% * 3/5);
      height: auto;
      margin-top: 20px;
      padding-left: 40px;
      font-size: 12.5px;
      letter-spacing: 4px;
      line-height: 30px;
      color: $font-color-wh;
      font-family: $font-family-ch;
    }
  }
}
.section1{
  position: relative;
  width: 100vw;
  height: 25vh;
  background: url(../src/images/section1.jpg) 0 0/100% 100% no-repeat;
  text-align: center; //在外層設定，使inline-block置中
  >.block1{
    display: inline-block;
    width: 320px;
    height: 240px;
    a{
    display: inline-block;
    background: url(../src/images/section1_line.png) 0 0 no-repeat;
    width: (1920px / 6);
    height: 240px;
    background-size: contain;
    }
    .block_txt{
      position: relative;
      top: -150px;
      left: 35px;
      width: 60%;
      height: auto;
      line-height: 30px;
      color: $font-color-or;
      font-family: $font-family-ch;
      letter-spacing: $letter-space;
      .txt_org_r{
        width: 70%;
        margin: 0;
        text-align: right;
        font-size: 15px;
      }
      .txt_org_l{
        margin: 0;
        padding-left: 25%;
        text-align: left;

      }
      .txt_orgnb_l{
        margin: 0;
        padding-left: 25%;
        font-size: 35px;
        text-align: left;
        letter-spacing: 3;
        font-family: $font-family-en;
      }
      .txt_orgnb_r{
        margin: 0;
        font-size: 35px;
        text-align: right;
        letter-spacing: 3;
        font-family: $font-family-en;
      }
      .unit{
        font-size: 12px;
      }
    }
  }
}
.section2{
  position: relative;
  width: 100vw;
  height: 50vh;
  background: url(../src/images/section2.jpg) 0 0/100% 100% no-repeat;
>.txt_h2{
  position: absolute;
  top: 16%;
  left: 22%;
  display: table;
  width: 10%;
  height: auto;
  margin: 0;
  font-size: 50px;
  text-align: center;
  letter-spacing: 3;
  color:$font-color-wh;
  
  &:before{
    content: '';
    position: absolute;
    top: 50%;
    right: 118%;
    width: 185%;
    height: 1px;
    margin: 0px auto;
    overflow: hidden; /*不加，IE6以下會被拉很開*/
    background-color: $font-color-wh;
  }
  &:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 125%;
    width: 650%;
    height: 1px;
    margin: 0px auto;
    overflow: hidden;/*不加，IE6以下會被拉很開*/
    background-color: $font-color-wh;
  }
}
>.EN_h2{
  position: absolute;
  top: 25%;
  left: 22%;
  display: table;
  width: 10%;
  height: auto;
  margin: 0.5% 0;
  font-size: 50px;
  text-align: center;
  letter-spacing: 3;
  color: $font-color-or;
}
>.Tblock2{
  position: absolute;
  top: 50%;
  left: 22%;
  display: flex;
  width: 65%;
  height: 40%;
  .section2_block{
    flex: auto;
    width: 35%;
    height: 60%;
    padding: 1% 5% 1% 3%;
    font-family: 'Noto Sans TC';
    font-size: 14px;
    line-height: 30px;
    color: $font-color-wh;
    letter-spacing: $letter-space;
  }
  .border-right1{
    border-right-width: 1px;
    &:after{
      content: '';
    position: absolute;
    left: 30%;
    bottom: 40%;
    height: 60%;
    width: 0.15rem;
    background-color: $font-color-or;
    }
  }
  .border-right2{
    border-right-width: 1px;
    &::after{
      content: '';
    position: absolute;
    left: 63%;
    bottom: 40%;
    height: 60%;
    width: 0.15rem;
    background-color: $font-color-or;
    }
  }
}
}
.section3{
  position: relative;
  width: 100vw;
  height: 304px;
  background-color: $font-color-wh;
  //background-size: contain;
  >.picture{
    position: absolute;
    left: 18%;
    top: -25%;
    display: inline-block;
    width: 55%;
    height: 386px;
    background: url(../src/images/picture.jpg) 0 0 no-repeat;
    background-size: contain;
    .contact_txt{
      padding-top: 10%;
      padding-left: 70%;
      text-align: left;
      font-size: 50px;
      line-height: 75px;
      font-family: $font-family-ch;
      .contact_en{
        font-size: 40px;
        color: $font-color-or;
        letter-spacing: $letter-space;
      }
    }
  }
  >.pic_border{
    position: absolute;
    top: -30%;
    left: 19%;
    display: inline-block;
    width: 30%;
    height:125%;
    border: 3px solid $font-color-or;
  }
}
.form{
  position: relative;
  width: 100vw;
  height: 550px;
  background-color: $font-color-wh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: $font-color-gray;
  font-family: "Microsoft Yahei","微软雅黑";
  font-size: 14px;
  .form_span{
    line-height: 20px; 
    padding-top: 40px;
    margin-bottom: -20px;
    }
  >.form_left{
    @extend %form-style;
    select{
      @extend %form-line-style;
      cursor: text;
      border-bottom-width: 2px;
      border-color: $font-color-black;
      color: $font-color-gray;
      margin-top: 45px;
      /*&::before{
        content: "代理年限";
        color: $font-color-gray;
      }*/
      &:focus{
       color: $font-color-or;
       border-bottom-color: $font-color-or;

       &::placeholder{
        color: $font-color-or;
      }
      &:checked{
        color: $font-color-or;
      }
     }
     option{
       direction: rtl;
     }
    }
  }
  >.form_right{
    @extend %form-style;
    padding-top: 25px;
    .gender_block{
      margin-top: 22px;
    }
    .qq{
      margin-top: 20px;
    }
  }
  >.form_bottom{
    width: 56%;
    height: auto;
    p:first-child{
      margin: 0;
    }
    textarea{
      width: 90%;
      color: $font-color-gray;
      outline: none;
      resize: none;/*取消textarea右下角預設樣式*/
      border-style: hidden hidden solid hidden;
      border-color: $font-color-black;
      text-align: right;
      &:focus{
        color: $font-color-or;
        border-bottom-color: $font-color-or;
       }
  }
  }

  input{
    @extend %form-line-style;
      &[type=text]{
       &:focus{
         color: $font-color-or;
         &::placeholder{
           color: $font-color-or;}
         }
        }
       &[type=radio]{
         display: none;
         + label{
           cursor: pointer;
         }
         + label span{
          display:inline-block;
          width:19px;
          height:22px;
          margin:-2px 10px 0 10px;
          vertical-align:middle;
          background: url(../src/images/radio_before.png) 0 0 no-repeat;
          cursor:pointer;
         }
         &:checked + label span{
           background: url(../src/images/radio_after.png) 0 0 no-repeat;
         }
       }
       &[type=submit]{
         background: url(../src/images/submit.png) 0 0/contain no-repeat;
         width: 12%;
         min-height: 57px;
         margin-top: 20px;
         border-bottom-style: none;
         cursor: pointer;
       }
       &::placeholder{ 
         color: $font-color-gray;
        }
       
      }
}

footer{
  background: url(../src/images/footer.jpg) 0 0 no-repeat;
  background-size: contain;
  width: 100vw;
  height: 152px;
}