.contact {
    height: 1400px;
}

.contact-container {
    width: 60%;
    position: relative;
    margin: 0 auto;
}

.contact-title {
    height: 32%;
    min-height: 360px;

    .contact-title-pic-block {
        width: 48%;
        height: inherit;
        position: relative;
        display: inline-block;

        .contact-title-pic-border {
            width: 100%;
            height: auto;
            padding: 33% 0;
            float: left;
            position: absolute;
            z-index: 3;
            transform: translate(0, -30px);
            border: 2px solid $primary-color;
        }

        img {
            width: 100%;
            float: left;
            position: absolute;
            z-index: 2;
            transform: translate(-15px, -15px);
        }
    }

    .contact-title-desp {
        width: 50%;
        min-height: 360px;
        display: inline-block;
        vertical-align: top;

        .contact-title-slogan {
            padding-top: 15%;
            text-align: center;

            h1:nth-child(1) {
                margin: 0;
                
            }

            h1:nth-child(2) {
                margin-top: 5px;
                margin-bottom: 15px;
                color: $primary-color;
            }
        }

        .contact-title-content {
            max-width: 450px;
            width: 75%;
            margin: 0 auto;
            line-height: 25px;
            color: $contact-title-content-color;
        }
    }
}