.prize {
    height: 18vh;
    background: url(../src/images/section1.jpg) 0 (0 / 50% 50%) repeat;
}

.prize-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}