//--Prize 4個block--
.prize-block {
    width: (100% / 4);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        width: 135px;
        height: 50%;
        letter-spacing: $letter-space;
        color: $primary-color;
    }

    //中文style
    .prize-block-txtch {
        margin: 5px 0;
        font-size: $font-size-sm;
    }

    //數字style
    .prize-block-number {
        margin: 0;
        font-size: $font-size-lg;
        text-align: right;
        letter-spacing: 3px;
        font-family: 'Michroma';
    }

    //單位style
    .prize-block-txt-unit {
        font-size: $font-size-lg-sm;
    }

    //block1 and block2 number position
    .prizeblock-number-align {
        text-align: left;
    }

    //block3 and block4 number padding
    .prize-number-position {
        padding-right: 20px;
    }

    //left line
    .prize-block-line-left {
        @include prize-block-left-line;
    }

    //right line
    .prize-block-line-right {
        @include prize-block-right-line;
    }
}
